$defaultfont      = Arial, Helvetica, sans-serif
$seriffont        = Tahoma, Geneva, sans-serif
$defaultfontsize  = 14

// path to images
$img = "/img/"

// color lists, written to appear as a table
// global colors when appropriate and remove duplicates from sears and kmart lists
$palette =  (bodycopy       #333),
            (bg             #fff),
            (hi-con         #000),
            (link           #333),
            (secondary-link #999),
            (attention      #d00),
            (secondary-copy #666),
            (separator      #dfdfdf),
            (nav			#b3c3d7)

// example
// .test
//   background-image url($img + 'test.gif')
//   color palette('link')