*
  box-sizing: border-box

// Convenience classes
.bold
  font-weight bold
.upcase
  text-transform uppercase
.downcase
  text-transform lowercase
.titlecase
  text-transform capitalize
.global-sprite
  background-image url($img + 'global-sprite.png')
  background-repeat no-repeat
