<button class="reset btn btn-default">Reset List</button>
<table id="plans-table" class="table table-striped">
  <thead>
    <tr id="headerrow">
      <th data-id="carrierName">Carrier</th>
      <th data-id="planName">Plan</th>
      <th data-id="copay">Copay</th>
      <th data-id="premium">Premium</th>
      <th data-id="annualLimit">Annual Limit</th>
    </tr>
  </thead>

  <tbody id="plans-content"></tbody>

</table>